@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@100;300;500;700&display=swap");
@import "normalize.css";
#root {
  max-width: 768px;
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.75px;
}
a {
  color: #000;
  text-decoration: none;
}
body,
figure,
figcaption,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: "Merriweather", serif;
  color: #110e47;
}
h3 {
  font-weight: 700;
}
h4 {
  font-weight: 300;
  color: #9c9c9c;
}

main {
  padding: 0 2rem;
}
.header {
  position: fixed;
  width: calc(100vw - 4rem);
  padding: 0 2rem;
  background-color: #fff;
  height: 60px;
  grid-template-columns: 1fr 1fr 1fr;
}
.flexContainer {
  display: flex;
}
.gridContainer {
  display: grid;
}
.justify-space-between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.HorizontalMovieListContainer {
  padding: 76px 0 0;
}
.VerticalMovieListContainer {
  padding: 0 0 76px;
}
.VerticalMovieListTitleLayout {
  position: sticky;
  top: 60px;
  background-color: #fff;
  padding-bottom: 2rem;
}
.movieCardContainerLayout {
  margin: 2rem -2rem;
  gap: 1rem;
  padding: 0 1rem 0 2rem;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.movieCardContainerLayout::-webkit-scrollbar {
  display: none;
}
.movieListContainerLayout {
  flex-direction: column;
  gap: 16px;
}
